<nav>
    <ul>
        <li><a href="/">Index</a></li>
        <li>About us</li>
        <li class="menu"><span>Parts</span></li>
        <li class="menu"><span>Learn</span></li>
        <li>Links</li>
    </ul>
</nav>