<nav>
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/about">About us</a></li>
        <li class="menu"><span>Posts</span>
        	<ul>
         		<li>Cytology</li>
            		<li>Anatomy</li>
            		<li>Zoology</li>
            		<li>Botanics</li>
        	</ul>
	</li>
        <li>Links</li>
    </ul>
</nav>
