<nav>
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/about">About us</a></li>
        <li class="menu"><span>Posts</span></li>
        <ul class="ui-menu">
            <li><div>Cytology</div></li>
            <li><div>Anatomy</div></li>
            <li><div>Zoology</div></li>
            <li><div>Botanics</div></li>
        </ul>
        <li class="menu"><span>Learn</span></li>
        <li>Links</li>
    </ul>
</nav>