<nav>
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/about">About us</a></li>
        <li class="menu"><span>Posts</span>
        	<ul>
         		<li>Cytology</li>
            		<li>Anatomy</li>
            		<li>Zoology</li>
            		<li>Botanics</li>
        	</ul>
		</li>
		<li><a href="/links">Links</li>
	</ul>
	<hr>
	<ul>
		<li><a href="/users/singup">Register</a></li>
	</ul>
</nav>
