<nav>
    <ul id="nav-panel">
        <li>Index</li>
        <li>About</li>
        <li>Parts of biology</li>
        <li>Learning</li>
        <li>Tests</li>
        <li>Useful links</li>
    </ul>
    <form action="/search" method="get">
        <input type="search" name="q" placeholder="Find a post here!">
    </form>
    <ul id="part-menu">
        <li>Cytology (!!! MUST HAVE !!!)</li>
        <li>Botaniks</li>
        <li>Zoology</li>
        <li>Anatomy</li>
    </ul>
</nav>