<header>
    {{> menu}}
    <h1>About us</h1>
    <h2>Credit</h2>
    <p>
        Andrew - Team lead
        <br>
        Arthur - Programmer
        <br>
        Daria - Text writer
    </p>
</header>