<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cytology master</title>
        <meta charset="UTF-8">
    </head>
    <body>
        {{> menu}}

        {{{body}}}

        {{> footer}}
    </body>
</html>