<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cytology master</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css"
        <meta charset="UTF-8">
    </head>
    <body>

        {{{body}}}

        <footer>&copy;Cytology Master - 2022. GNU GPL v.3 licence. All rights reserved</footer>
    </body>
</html>